<%- partial('../../includes/header') %>
    <script type="text/javascript">
        var pages = <%= chantier.membres.length%>;
        if (pages % 10 != 0) {
            pages = parseInt(pages / 10) + 1;
        }
    </script>
    <div class="col-auto">
        <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
            </div>
        </div>

        <div class="row g-4 mb-4" id="formulaireOuvrier">
            <div class="col-12 col-md-12">
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                Veuillez définir la période pour laquelle vous désirez enregistrer des heures
                            </div>

                            <div class="col-6 mb-3">
                                <label for="setting-input-1" class="form-label">Date de début</label>
                                <input class="form-control" id="dateDebut" type="date" required>
                            </div>

                            <div class="col-6 mb-3">
                                <label for="setting-input-1" class="form-label">Date de fin</label>
                                <input class="form-control" id="dateFin" type="date" required>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="setting-input-1" class="form-label">Veuillez saisir les heures pour les ouvriers correspondants</label>
                            </div>

                            <div class="col-12 col-md-12">
                                <div class="table-responsive">
                                    <table class="table mb-0 text-left" id="ouvrierListTab">
                                        <thead>
                                            <tr>
                                                <th class="h-cell">N° Badge</th>
                                                <th class="h-cell">Ouvrier</th>
                                                <th class="h-cell">H.Jour</th>
                                                <th class="h-cell">H.Sup.Jour</th>
                                                <th class="h-cell">H.Nuit</th>
                                                <th class="h-cell">H.Sup.Nuit</th>
                                                <th class="h-cell">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% 
                            for(var i=0; i< chantier.membres.length; i++) {
                                let ouvrier = chantier.membres[i];
                            %>
                                                <tr idOuvrier="<%= ouvrier.id %>" class="ligneInput">
                                                    <td class="cell">
                                                        <%= ouvrier.affectation.badge %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= ouvrier.nom %>
                                                            <%= ouvrier.prenom %>
                                                    </td>
                                                    <td class="cell">
                                                        <input onkeyup="calculTotal(<%= ouvrier.id %>)" onchange="calculTotal(<%= ouvrier.id %>)" id="heuresNormale<%= ouvrier.id %>" class="inputHeure" idOuvrier="<%= ouvrier.id %>" type="number" placeholder="H. de Jour">
                                                    </td>
                                                    <td class="cell">
                                                        <input onkeyup="calculTotal(<%= ouvrier.id %>)" onchange="calculTotal(<%= ouvrier.id %>)" id="heuresNormaleSup<%= ouvrier.id %>" class="inputHeure" idOuvrier="<%= ouvrier.id %>" type="number" placeholder="H.Sup.Jour">
                                                    </td>
                                                    <td class="cell">
                                                        <input onkeyup="calculTotal(<%= ouvrier.id %>)" onchange="calculTotal(<%= ouvrier.id %>)" id="heuresNuit<%= ouvrier.id %>" class="inputHeure" idOuvrier="<%= ouvrier.id %>" type="number" placeholder="H. de Nuit">
                                                    </td>
                                                    <td class="cell">
                                                        <input onkeyup="calculTotal(<%= ouvrier.id %>)" onchange="calculTotal(<%= ouvrier.id %>)" id="heuresNuitSup<%= ouvrier.id %>" class="inputHeure" idOuvrier="<%= ouvrier.id %>" type="number" placeholder="H.Sup.Nuit">
                                                    </td>
                                                    <td class="cell" id="total<%= ouvrier.id %>">
                                                        0
                                                    </td>
                                                </tr>
                                                <%
                            }
                            %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="col-12 mb-3">
                                <br>
                                <button onclick="submitHeure()" class="btn app-btn-primary">Enregistrer les heures</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-md-12">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    <div class="table-responsive">
                        <table class="table mb-0 text-left" id="ouvrierAffectedListTab">
                            <thead>
                                <tr>
                                    <th class="h-cell">N° Badge</th>
                                    <th class="h-cell">Ouvier</th>
                                    <th class="h-cell">Période</th>
                                    <th class="h-cell">H.Jour</th>
                                    <th class="h-cell">H.Sup.Jour</th>
                                    <th class="h-cell">H.Nuit</th>
                                    <th class="h-cell">H.Sup.Nuit</th>
                                    <th class="h-cell">Total</th>
                                    <th class="h-cell"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% 
                                for(var i=0; i< pointages.length; i++) {
                                    let pointage = pointages[i];
                                %>
                                    <tr>
                                        <td class="cell">
                                            <%= pointage.affectation.badge %>
                                        </td>
                                        <td class="cell">
                                            <a href="/ouvrier/details/<%= pointage.ouvrier.id %>" style='color: black; text-decoration: underline;'>
                                                <%= pointage.ouvrier.nom %>
                                                    <%= pointage.ouvrier.prenom %>
                                            </a>
                                        </td>
                                        <td class="cell">
                                            <%= pointage.dateDebut %>
                                                au
                                                <%= pointage.dateFin %>
                                        </td>
                                        <td class="cell">
                                            <%= pointage.heuresNormale %>
                                        </td>
                                        <td class="cell">
                                            <%= pointage.heuresNormaleSup %>
                                        </td>
                                        <td class="cell">
                                            <%= pointage.heuresNuit %>
                                        </td>
                                        <td class="cell">
                                            <%= pointage.heuresNuitSup %>
                                        </td>
                                        <td class="cell">
                                            <%= + pointage.heuresNuitSup + pointage.heuresNuit+ pointage.heuresNormaleSup + pointage.heuresNormale %>
                                        </td>
                                        <td class="cell">
                                            <a class="btn-sm app-btn-secondary" style="cursor: pointer;" onclick="deleteLine(<%= pointage.id %>)">X</a>
                                        </td>
                                    </tr>
                                    <%
                                }
                                %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- partial('../../includes/footer') %>

        <style>
            .inputHeure {
                width: 100px;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#ouvrierListTab').DataTable();
            });

            function deleteLine(idPointage) {
                swal({
                        title: "Souhitez-vous souhaiter ce pointage?",
                        text: "",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Veuillez patienter...");
                            $.post("/api/deletepointage", {
                                idPointage: idPointage
                            }, function(data) {
                                location.reload();
                            });
                        }
                    });

            }

            function calculTotal(idOuvrier) {
                let heuresNuitSup = 0
                let heuresNuit = 0
                let heuresNormaleSup = 0
                let heuresNormale = 0
                if ($("#heuresNuitSup" + idOuvrier).val() != "") {
                    heuresNuitSup = parseFloat($("#heuresNuitSup" + idOuvrier).val());
                }
                if ($("#heuresNuit" + idOuvrier).val() != "") {
                    heuresNuit = parseFloat($("#heuresNuit" + idOuvrier).val());
                }
                if ($("#heuresNormaleSup" + idOuvrier).val() != "") {
                    heuresNormaleSup = parseFloat($("#heuresNormaleSup" + idOuvrier).val());
                }
                if ($("#heuresNormale" + idOuvrier).val() != "") {
                    heuresNormale = parseFloat($("#heuresNormale" + idOuvrier).val());
                }
                $("#total" + idOuvrier).html(heuresNuitSup + heuresNuit + heuresNormaleSup + heuresNormale)
            }

            function submitHeure() {
                let postData = {
                    dateDebut: $("#dateDebut").val(),
                    dateFin: $("#dateFin").val(),
                    chantier: <%= chantier.id %>,
                    pointages: []
                }
                if (postData.dateDebut != "" && postData.dateFin != "") {
                    swal("Bass Trans", "Veuillez patienter pendant que nous enregistrons les données...");
                    for (let i = 0; i < pages; i++) {
                        $("#ouvrierListTab_previous").click();
                    }
                    for (let i = 1; i <= pages; i++) {
                        let lignes = $('.ligneInput');
                        for (let j = 0; j < lignes.length; j++) {
                            let ligne = lignes[j];
                            let idOuvrier = ligne.getAttribute('idouvrier');
                            let heuresNormale = $("#heuresNormale" + idOuvrier).val();
                            let heuresNormaleSup = $("#heuresNormaleSup" + idOuvrier).val();
                            let heuresNuit = $("#heuresNuit" + idOuvrier).val();
                            let heuresNuitSup = $("#heuresNuitSup" + idOuvrier).val();
                            if ((heuresNormale != undefined && heuresNormale != "") || (heuresNormaleSup != undefined && heuresNormaleSup != "") || (heuresNuit != undefined && heuresNuit != "") || (heuresNuitSup != undefined && heuresNuitSup != "")) {
                                postData.pointages.push({
                                    ouvrier: idOuvrier,
                                    heuresNormale: heuresNormale,
                                    heuresNormaleSup: heuresNormaleSup,
                                    heuresNuit: heuresNuit,
                                    heuresNuitSup: heuresNuitSup,
                                });
                            }
                        }
                        if (i < pages) {
                            $("#ouvrierListTab_next").click();
                        }
                    }
                    $.post("/api/pointage", postData, function(data) {
                        setTimeout(function() {
                            location.reload()
                        }, 3000)
                    })
                } else {
                    swal("Veuillez définir correctememnt la date de début et la date de fin", "", "error");
                    for (let i = 0; i < pages; i++) {
                        $("#ouvrierListTab_previous").click();
                    }
                }
            }
        </script>